<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unicefwinterizationplatform.winterization_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unisupplylogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBeneficiaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowseBeneficiariesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamilyViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailedBeneficiaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditBeneficiaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BarCodeReaderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddSuccessActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeolocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VoucherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistributorBeneficiaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PCodeSelectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditKitView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChildViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneNumberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BeneficiaryDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditBeneficiaryForm"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReaderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomScannerActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AnyOrientationCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".VoucherAssessmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VoucherDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VoucherCheckActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskSelectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectSDCLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistributionCompletionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RedeemVoucherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailedDistActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditItemView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestionsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DailyLogsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <service android:name=".LocationService" />

        <compatible-screens>

            <!-- all small size screens -->
            <screen
                android:screenDensity="mdpi"
                android:screenSize="small" />
            <screen
                android:screenDensity="hdpi"
                android:screenSize="small" />
            <screen
                android:screenDensity="xhdpi"
                android:screenSize="small" />
            <!-- all normal size screens -->
            <screen
                android:screenDensity="mdpi"
                android:screenSize="normal" />
            <screen
                android:screenDensity="hdpi"
                android:screenSize="normal" />
            <screen
                android:screenDensity="xhdpi"
                android:screenSize="normal" />
            <screen
                android:screenDensity="480"
                android:screenSize="normal" />
            <!-- all large size screens -->
            <screen
                android:screenDensity="mdpi"
                android:screenSize="large" />
            <screen
                android:screenDensity="hdpi"
                android:screenSize="large" />
            <screen
                android:screenDensity="xhdpi"
                android:screenSize="large" />
            <!-- all large size screens -->
            <screen
                android:screenDensity="mdpi"
                android:screenSize="xlarge" />
            <screen
                android:screenDensity="hdpi"
                android:screenSize="xlarge" />
            <screen
                android:screenDensity="xhdpi"
                android:screenSize="xlarge" />
        </compatible-screens>

        <activity
            android:name=".ConsentActivity"
            android:label="@string/title_activity_consent"></activity>
    </application>

</manifest>
